<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
        <title></title>
    </head>
    <body bgcolor="#bad7f0">
        <h1></h1>

        <section class="submit-link">
            <a class="btn btn-success glyphicon glyphicon-share-alt blue" href="/" role="button"></a>
            <form action="/add-link" method="post">
                <div>
                    <input type="text" name="url" placeholder="Enter URL" value="" />
                </div>
                <div>
                    <input type="text" name="title" placeholder="Enter Title" value="" />
                </div>
            </form>
        </section>
    </body>
</html>
